<div class="title">Welcome Wolfpack</div>

<div class="toolbar">
  <mat-form-field appearance="fill" class="select-position">
    <mat-label>Position</mat-label>
      <mat-select [(ngModel)]="selectedPosition" (ngModelChange)="selectPosition()">
        <mat-option *ngFor="let position of positions" [value]="position.position">
          {{position.position}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="select-formation">
    <mat-label>Formation</mat-label>
      <mat-select [(ngModel)]="selectedFormation" (ngModelChange)="selectFormation()">
        <mat-option *ngFor="let formation of formations" [value]="formation.value">
          {{formation.defense}}-{{formation.midfield}}-{{formation.forward}}
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>
<div class="field-players">
  <div class="player-list">
    <div class="player" *ngFor="let player of getSquad()">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{player.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="positions-container">Positions: <span class="positions">{{getPlayerPositions(player)}}</span></div>
        <div class="notes" *ngIf="player.notes">Notes: {{player.notes}}</div>
      </mat-expansion-panel>
    </div>
  </div>
  <div id="field"></div>
</div>
<div class="counts">
  <div>Players: {{players.length}}</div>
  <div>Forward: {{getSquadCounts(postionsEnum.FORWARD)}}</div>
  <div>Midfield: {{getSquadCounts(postionsEnum.MIDFIELD)}}</div>
  <div>Defense: {{getSquadCounts(postionsEnum.DEFENSE)}}</div>
  <div>Goalkeeper: {{getSquadCounts(postionsEnum.GOALKEEPER)}}</div>
</div>

<div class="footer">
  <a href="https://www.instagram.com/cooljj_20/" target="_blank"><img height="63" width="50" src="/soccer-squad/assets/james-pic.jpg"><span>Instagram<br> @cooljj_20</span></a>
</div>

