.title {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;

    a {
        display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            padding-left: 3px;
        }
    }
}


.field-players {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .player-list {
        height: 500px;
        overflow: auto;
        .player {
            margin: 5px 0;

            .positions-container {
                font-size: 13px;
                .positions {
                    font-size: 12px;
                    color: green;
                }
            }

            .notes {
                font-size: 12px;
                color: grey;
            }
        }
    }
}



.toolbar {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55px;
    .select-position {
        width: calc(50% - 10px);
        padding: 0 5px;
    }

    .select-formation {
        width: calc(40% - 10px);
        padding: 0 5px;
    }
}

.counts {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}